
#visual studio temporary files
.vs/
*.sln

#binaries
/bin
/bin-int
/lib
*.exe

#build
/Mathilda/build
/Mathilda/.cache
/Mathilda/.clangd
#vim and cmake stuff
/compile_commands.json
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
/MakeFile
